.vehicle-item {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  img {
    width: 30%;
    max-width: 30%;
    flex: 1;
  }
  .type, .brand {
    flex: 1;
    margin-left: 10px;
    color: white;
  }
}